/* pages/record/index.wxss */

.score-container {
  position: relative;
  .line {
    position: absolute;
    top: -4rpx;
    bottom: 0;
    left: 0;
    width: 4px;
    background-color: red;
}

}
.beat-container {
  display: flex;
  width: max-content;
  // position: relative;
  // right: 100%;
  // transform: translateX(-100%);
}

.score {
  position: relative;
  text-align: center;
  // background-color: gray;
  margin-bottom: 20rpx;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.score-current {
  background-color: pink;
}

.score-left,
.score-right {
  position: relative;
}

.note-container {
  display: flex;
  justify-content: start;
  position: relative;
  width: 100%;
}
.note {
  padding-top: 16rpx;
}
.active {
  background-color: pink;
}

.linking {
  position: absolute;
  top: 6rpx;
  content: ' ';
  height: 10rpx;

}
.linking-start::before {
  .linking;
  left: 8rpx;
  width: 100%;
  border-top: solid 1px #000;
  border-left: solid 1px #000;
  border-top-left-radius: 4rpx;
}
.linking-middle::before {
  .linking;
  left: 0;
  right: 0;
  border-top: solid 1px #000;
}
.linking-end::before {
  .linking;
  left: 0;
  width: 20rpx;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  border-top-right-radius: 4rpx;
}
// 低音的点
.bass::after {
  position: absolute;
  bottom: -32rpx;
  left: 4rpx;
  content: '·';
}
// 高音的点
.high::after {
  position: absolute;
  top: -4rpx;
  left: 50%;
  transform: translateX(-50%);
  content: '·';
}

  .extend {
    position: absolute;
    bottom: 16rpx;
    left: 8rpx;
    content: ' ';
    width: 8rpx;
    height: 8rpx;
    border-radius: 50%;
    background-color: #000;
  }

.half {
  position: absolute;
  bottom: 2rpx;
  left: 0;
  width: 20rpx;
  height: 1px;
  background-color: #000;
}
.half-start {
  position: absolute;
  bottom: 2rpx;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000;
}
.half-middle {
  position: absolute;
  bottom: 2rpx;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000;
}
.half-end {
  position: absolute;
  bottom: 2rpx;
  left: 0;
  width: 20rpx;
  height: 1px;
  background-color: #000;
}

  .quarter{
    position: absolute;
    bottom: -4rpx;
    left: 0;
    width: 20rpx;
    height: 1px;
    background-color: #000;
  }
  .quarter-start {
    position: absolute;
    bottom: -4rpx;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000;
  }
  .quarter-end {
    position: absolute;
    bottom: -4rpx;
    left: 0;
    width: 20rpx;
    height: 1px;
    background-color: #000;
  }

.section-start {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #000;
}

