.header {
  display: flex;
  align-items: center;
  justify-content: center;
  .left {
    width: 400rpx;
  }
  .btn {
    margin: 0;
  }
}

.time-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24rpx;
  color: #999;
  padding: 40rpx 20rpx;

  .time {
    margin-right: 20rpx;
  }
}

.result-container {
  padding: 20rpx;
  .title {
    font-size: 32rpx;
    font-weight: 500;
  }
  .step-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #333;

    .step-item-value {
      font-size: 28rpx;
    }
    .step-item-time {
      font-size: 28rpx;
      color: #999;
    }
  }
  .step-item-incorrect {
    color: red;
  }
}